@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
  font-family: 'Open Sans', light;
  margin: 0;
  width: 100%;
}
.content, .row, .column\four {
  position: relative; 
  left: 100px;

}
h1, h2 {
  font-family: 'Rock Salt', cursive;
  margin: 0;
}
img {

}
input {

}
button {

}
nav ul {

}
nav ul li {

}
img {
	border: dashed blue;

}
.header {
	background-color: #00BFFF;
/*  position: relative; 
  left: 0px;*/
}
.header h1 {

}
.footer {
	background-color: #D3D3D3;
	height: 200px;
	padding: 10px;
}
.content {

}
.row {

}
.column {

}
.note {

}
.request {

}